USE [master]
GO
/****** Object:  Database [MDB]    Script Date: 2020/7/16 13:15:13 ******/
CREATE DATABASE [MDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MDB', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\MDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MDB_log', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\MDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MDB]
GO
/****** Object:  Table [dbo].[Choose]    Script Date: 2020/7/16 13:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choose](
	[SID] [varchar](10) NOT NULL,
	[CID] [varchar](7) NOT NULL,
	[TID] [varchar](5) NOT NULL,
	[Score] [int] NULL,
	[ChooseYear] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2020/7/16 13:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CID] [varchar](7) NOT NULL,
	[Cname] [nvarchar](10) NOT NULL,
	[TID] [varchar](5) NOT NULL,
	[Credit] [int] NOT NULL,
	[Grade] [varchar](30) NOT NULL,
	[CancelYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission1]    Script Date: 2020/7/16 13:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission1](
	[SID] [varchar](10) NOT NULL,
	[SPW] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission2]    Script Date: 2020/7/16 13:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission2](
	[TID] [varchar](5) NOT NULL,
	[TPW] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission3]    Script Date: 2020/7/16 13:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission3](
	[MID] [varchar](7) NOT NULL,
	[MPW] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2020/7/16 13:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [varchar](10) NOT NULL,
	[Sname] [nvarchar](10) NOT NULL,
	[Sex] [nvarchar](5) NOT NULL,
	[SchoolAge] [int] NOT NULL,
	[SchoolYear] [int] NULL,
	[Class] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2020/7/16 13:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TID] [varchar](5) NOT NULL,
	[Tname] [nvarchar](10) NOT NULL,
	[Course] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Choose] ([SID], [CID], [TID], [Score], [ChooseYear]) VALUES (N'1561401613', N'1008060', N'10001', 95, 2010)
INSERT [dbo].[Choose] ([SID], [CID], [TID], [Score], [ChooseYear]) VALUES (N'1561401613', N'1203006', N'10003', 92, 2010)
INSERT [dbo].[Choose] ([SID], [CID], [TID], [Score], [ChooseYear]) VALUES (N'1561401613', N'3009405', N'20010', 94, 2010)
GO
INSERT [dbo].[Course] ([CID], [Cname], [TID], [Credit], [Grade], [CancelYear]) VALUES (N'1008060', N'算法', N'10001', 2, N'2', 2019)
INSERT [dbo].[Course] ([CID], [Cname], [TID], [Credit], [Grade], [CancelYear]) VALUES (N'1203006', N'计组', N'10003', 1, N'2', 2018)
INSERT [dbo].[Course] ([CID], [Cname], [TID], [Credit], [Grade], [CancelYear]) VALUES (N'3009405', N'java', N'20010', 2, N'1', 2020)
GO
INSERT [dbo].[Permission1] ([SID], [SPW]) VALUES (N'1530501085', N'333333')
INSERT [dbo].[Permission1] ([SID], [SPW]) VALUES (N'1530561331', N'222222')
INSERT [dbo].[Permission1] ([SID], [SPW]) VALUES (N'1530591376', N'444444')
GO
INSERT [dbo].[Permission2] ([TID], [TPW]) VALUES (N'10001', N'555555')
INSERT [dbo].[Permission2] ([TID], [TPW]) VALUES (N'10003', N'666666')
INSERT [dbo].[Permission2] ([TID], [TPW]) VALUES (N'30405', N'777777')
GO
INSERT [dbo].[Permission3] ([MID], [MPW]) VALUES (N'24680', N'100000')
GO
INSERT [dbo].[Student] ([SID], [Sname], [Sex], [SchoolAge], [SchoolYear], [Class]) VALUES (N'1530501085', N'晁阳', N'男', 19, 2015, N'计联')
INSERT [dbo].[Student] ([SID], [Sname], [Sex], [SchoolAge], [SchoolYear], [Class]) VALUES (N'1530561331', N'谈力', N'男', 18, 2015, N'计联')
INSERT [dbo].[Student] ([SID], [Sname], [Sex], [SchoolAge], [SchoolYear], [Class]) VALUES (N'1530591376', N'韩梅梅', N'女', 17, 2015, N'计科')
GO
INSERT [dbo].[Teacher] ([TID], [Tname], [Course]) VALUES (N'10001', N'颜老师', N'算法')
INSERT [dbo].[Teacher] ([TID], [Tname], [Course]) VALUES (N'10003', N'毛老师', N'计组')
INSERT [dbo].[Teacher] ([TID], [Tname], [Course]) VALUES (N'20010', N'张老师', N'java')
GO
ALTER TABLE [dbo].[Choose]  WITH NOCHECK ADD FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[Choose]  WITH NOCHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[Choose]  WITH NOCHECK ADD FOREIGN KEY([TID])
REFERENCES [dbo].[Teacher] ([TID])
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD CHECK  (([Schoolage]>(10) AND [Schoolage]<(50)))
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD CHECK  (([sex]='男' OR [sex]='女'))
GO
USE [master]
GO
